<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shareCart.project.domain.room.model.mapper.RoomMapper">
    <insert id="insertRoom"
            parameterType="com.shareCart.project.domain.room.model.vo.RoomVO"
            useGeneratedKeys="true"
            keyProperty="id"
    >
    INSERT INTO `rooms`(
        town_id,
        host_id,
        market_name,
        meet_place,
        meet_at
    )VALUES(
        #{townId},
        #{hostId},
        #{marketName},
        #{meetPlace},
        #{meetAt}
    )
    </insert>

    <insert id="insertRoomItems">
        INSERT INTO `room_items`(
            room_id,
            item_name
        )VALUES
        <foreach collection="items" item="item" separator=",">
        (
            #{roomId},
            #{item.itemName}
        )
        </foreach>
    </insert>

    <select id="findRoomById" resultType="com.shareCart.project.domain.room.model.vo.RoomVO">
        SELECT
            id,
            town_id,
            host_id,
            market_name,
            meet_place,
            meet_at,
            max_participants
        FROM `rooms`
        WHERE id = #{roomId}
    </select>

    <select id="findRoomsByTownId" resultType="com.shareCart.project.domain.room.model.vo.RoomList">
        SELECT
            r.id,
            r.market_name,
            r.meet_place,
            r.meet_at,
            r.max_participants,
            COUNT(rp.id) AS currentParticipants
        FROM rooms r
        LEFT JOIN room_participants rp ON r.id = rp.room_id
        WHERE r.town_id = #{townId}
        GROUP BY r.id
    </select>

    <update id="increaseParticipants">
        UPDATE `rooms`
        SET current_participants = current_participants + 1,
            updated_at = NOW()
        WHERE id = #{room_id}
        AND current_participants &lt; max_participants
    </update>

    <select id="findRoomByIdForUpdate"
            resultType="com.shareCart.project.domain.room.model.vo.RoomVO">
        SELECT
            id,
            max_participants
        FROM `rooms`
        WHERE id = #{roomId}
            FOR UPDATE
    </select>
</mapper>