<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shareCart.project.domain.user.model.mapper.UserMapper">

    <insert id="insertUser"
            parameterType="com.shareCart.project.domain.user.model.vo.UserVO"
            useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO `users` (
            town_id,
            email,
            name,
            password,
            phone
        ) VALUES (
            #{townId},
            #{email},
            #{name},
            #{password},
            #{phone}
        )
    </insert>

    <select
        id = "findByEmail"
        parameterType="String"
        resultType="com.shareCart.project.domain.user.model.vo.UserVO"
    >
    SELECT
        id,
        town_id,
        email,
        name,
        phone,
        role,
        password
    FROM `users`
    WHERE email = #{email}
    </select>
</mapper>